best_params.json
.DS_Store
supernnova/**/*.pyc
supernnova/data/Backup/*
supernnova/**/*.ipynb
supernnova/**/.ipynb_checkpoints
science_modules/**/*.pyc
rfsn/**/*.pyc
charnokmoss/**/*.pyc
*.csv
*.h5
.cache
/data
figures/
figures/science_figures/
models/
supernnova/validation/.DS_Store
tests/.ipynb_checkpoints/
plots_paper/*
*.pyc
.coverage*
.pytest_cache
.ipynb_checkpoints/
/tests/dump/processed
/tests/dump/preprocessed
/tests/dump/predictions
/tests/dump/speed
/tests/dump/latex
/tests/dump/stats
/tests/dump/figures
/tests/dump/lightcurves
/docs/_build
.coverage
script.sh
mnist.npz
sandbox/data
